## DataFrames Basic OPeration

In [3]:
import numpy as np
import pandas as pd

In [4]:
df1 = pd.DataFrame({
    'A': [1, 2, 3, 4, 5],
    'B': [10, 20, 30, 40, 50],
    'C': [100, 200, 300, 400, 500]
})

In [10]:
df1 # show the display in table

   A   B    C
0  1  10  100
1  2  20  200
2  3  30  300
3  4  40  400
4  5  50  500

In [ ]:
df1.shape # the table row and column in display

(5, 3)